/* Here I will put styling to the homepages of herstadmusikk2017 */

body {
    background-color: hsla(120, 20%, 40%, 1.0);
    color: white;
    position: relative;
}

.inputfields input{
    color: black;
}

a {
    color: black;
}

.freefromDOM-02 {
    position: absolute;
    top: 100px;
    left: 40%;
    right: 40%;
    background-color: hotpink;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
}